<div class="dashboard-container" [ngClass]="{ 'sidebar-collapsed': isCollapsed }">
  <div class="sidebar">
    <div class="logo-container">
      <div class="logo-inner">
        <span *ngIf="isCollapsed" class="logo-icon">eL</span>
        <p *ngIf="!isCollapsed" class="logo-text">eLibrary</p>
      </div>
    </div>
    <hr class="logo-divider">
    <ul class="nav-links">
      <li>
        <a routerLink="catalog" routerLinkActive="active">
          <mat-icon>home</mat-icon> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a routerLink="catalog" routerLinkActive="active">
          <mat-icon>library_books</mat-icon> <span>Catalog</span>
        </a>
      </li>
      <li>
        <a routerLink="borrowed-books" routerLinkActive="active">
          <mat-icon>book</mat-icon> <span>Borrowed Books</span>
        </a>
      </li>
      <li>
        <a routerLink="community" routerLinkActive="active">
          <mat-icon>groups</mat-icon> <span>Community</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="content-wrapper">
    <div class="header-top-bar">
      <button mat-icon-button (click)="toggleSidebar()" class="toggle-btn">
        <mat-icon>menu</mat-icon>
      </button>
      <div class="header-title">
        <p>Welcome User!</p>
      </div>
      <div class="header-right">
        <button mat-icon-button class="notifications-btn">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="settings-btn">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="user-btn">
          <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="logout-btn" (click) = "signOut()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </div>
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <div class="bottom-bar">
      <div class="copyright">
        © 2024 F3 Technology. All rights reserved.
      </div>
      <div class="social-links">
        <a href="#"><mat-icon>facebook</mat-icon></a>
        <a href="#"><mat-icon>twitter</mat-icon></a>
        <a href="#"><mat-icon>linkedin</mat-icon></a>
      </div>
    </div>
  </div>
</div>